/*----------------*/
  /* Imports */
/*----------------*/
@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Charmonman&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*----------------*/
    /* Star */
/*----------------*/
*{
    margin: 0%;
    padding: 0%;
    color: aliceblue;
    user-select: none;
    scroll-behavior: smooth;
}
[disabled]{
    color: #797878;
    user-select: none;
}
input::placeholder,
textarea::placeholder {
    font-weight: 600;
}
.flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
/*----------------*/
    /* Colors */
/*----------------*/
.dark-bg{
    background-color: #0F131F;
}
.light-bg{
    background-color: #80788D;
}
/*----------------*/
   /* sections */
/*----------------*/
.banner{
    display: flex;
    flex-direction: column;
    height: 450px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.mid{
    display: flex;
    height: 600px;
}
.sign{
    display: flex;
    align-items: center;
    height: 450px;
}
.testimonials{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot{
    display: flex;
    height: 300px;
}
/*----------------*/
    /* nav */
/*----------------*/
nav{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    padding-top: 20px;
    z-index: 3;
}
nav ul{
    display: flex;
    width: 600px;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-right: 30px;
}
/*light-nav*/
nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    /*--*/
    font-family: Chathura,sans-serif;
    font-size: xx-large;
    font-weight: 600;
    cursor: pointer;
    color: #D48D99;
    /*--*/
    height: 40px;
    width: 100px;
    /*--*/
    border-radius: 50px;
    border: 1px solid #D48D99;
    transition: .3s;
}
nav ul li:hover{
    background-color: #D48D99;
    color: white;
    .fa-caret-down{
        color: white;
    }
    .subnav{
        display: flex;
        position:absolute;
        top: 60px;
        width: 102px;
        height: fit-content;
        background-color: transparent;
        z-index: 4;
    }
    .subnav ul{
        width: fit-content;
        padding-top: 30px;
        height: 150px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}
.fa-caret-down{
    transform: scale(.6);
    position: relative;
    right: -6px;
    color: #D48D99;
    transition: .3s;
}
/*dark-nav*/
#dark-nav ul li{
    color: #0F131F;
    border: 1px solid #0F131F;
}
#dark-nav ul li:hover{
    color: white;
    background-color: #0F131F;
    #dark-caret-down{
        color: white;
    }
}
.subnav{
    display: none;
}
#dark-caret-down{
    color: #0F131F;
}
/*logo pic*/
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}
#logo img{
    width: 80%;
    z-index: 3;
}
#logo h1{
    font-size: 30px;
    text-align: center;
    font-family: Courgette, serif;
}
/*=========*/
 /*banner*/
/*=========*/
#banner-body{
    display: flex;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
}
#left-banner,#right-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    max-height: 100%;
}
#left-banner{
    max-height: calc(450px - 90px);
}
#left-banner h1,#left-banner h2{
    width: fit-content;
    margin-left: 60px;
}
#left-banner h2{
    font-family: Charmonman;
    font-weight: 200;
}
#left-banner h1{
    font-family: Thasadith,serif;
    font-size: 100px;
    font-weight: 100;
    color: #D48D99;
}
#right-banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
#right-banner img{
    width: 70%;
    aspect-ratio:1/1;
    object-fit: cover;
    border-radius: 100%;
}
/*----------------*/
/* about children */
/*----------------*/
.about-head{
    font-family: Courgette,sans-serif;
    height: fit-content;
    width: fit-content;
    margin-left: 35px;
}
.about-para{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cormorant Infant,serif;
    line-height: 35px;
    text-align: right;
    font-size: x-large;
    width: 50%;
    height: 450px;
    margin-left: 35px;
    overflow-y: hidden;
}
.about-content{
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}
.seperator{
    height: 300px;
    width: 3px;
    background-color: aliceblue;
}
.about-boast{
    display: flex;
    height: 300px;
    width: 450px;
    flex-direction: column;
    justify-content: space-around;
}
.about-boast div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-boast div p{
    font-family: Cormorant Infant,sans-serif;
    font-size: large;
    width: fit-content;
    height: fit-content;
}
.about-boast div img{
    height: 50px;
    width: 50px;
}
/*----------------*/
/* mid children */
/*----------------*/
#star1{
    height: fit-content;
    margin: 30px 0px 0px 50px;
    transform: scale(0.7);
}
#star2{
    height: fit-content;
    transform: scale(0.7);
    position: absolute;
    right: 100px;
    top: 1070px;
}
#star3{
    height: fit-content;
    transform: scale(0.7);
    position: absolute;
    right: 30px;
    top: 1180px;
}
#mid-head{
    font-family: Courgette,sans-serif;
    font-weight: 300;
    font-size: 300%;
    height: fit-content;
    width: fit-content;
    position: relative;
    left: -70px;
    top: 150px;
    display: flex;
}
/*picinfo carousel*/
.picinfo p{
    font-family: Cormorant Infant,sans-serif;
    font-size: large;
    height: fit-content;
    width: fit-content;
    position: absolute;
    left: 155px;
    top: 1600px;
    opacity: 0;
    transition: opacity 0.5s;
}
.picinfo p.active{
    opacity: 1;
}
.picinfo p:nth-child(1) {
    animation: slide 9s infinite;
}
.picinfo p:nth-child(2) {
    animation: slide 9s infinite 3s;
}
.picinfo p:nth-child(3) {
    animation: slide 9s infinite 6s;
}
/*img carousel*/
#carousel{
    filter: drop-shadow(.5rem .5rem 1rem #000);
    height: 300px;
    width: 700px;
    position: relative;
    top: 200px;
    right: 40px;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
#carousel img{
    border-radius: 150px;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}
#carousel img.active {
    opacity: 1;
}
@keyframes slide {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
} 
#carousel img:nth-child(1) {
    animation: slide 9s infinite;
}
#carousel img:nth-child(2) {
    animation: slide 9s infinite 3s;
}
#carousel img:nth-child(3) {
    animation: slide 9s infinite 6s;
}
/*car-buttons carousel*/
#car-buttons{
    width: 150px;
    height: 30px;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#car-buttons div{
    height: 20px;
    width: 20px;
    background-color: #0F131F;
    border-radius: 100%;
    border: 1px solid white;
}
#car-buttons .active-car-circle{
    background-color: #D48D99;
}
@keyframes bagaga {
    0% {
        background-color: #0F131F;
    }
    25% {
        background-color: #D48D99;
    }
    30% {
        background-color: #D48D99;
    }
    50% {
        background-color: #0F131F;
    }
    55% {
        background-color: #0F131F;
    }
    100% {
        background-color: #0F131F;
    }
}
#car-buttons div:nth-child(1) {
    animation: bagaga 9s infinite;
}
  
#car-buttons div:nth-child(2) {
    animation: bagaga 9s infinite 3s;
}
  
#car-buttons div:nth-child(3) {
    animation: bagaga 9s infinite 6s;
}
/*--------------*/
/*sign and packages children*/
/*--------------*/
.signup,.packages{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.packages{
    height: 65vh;
}
#signupbtn{
    height: 50px;
    width: 180px;
    border-radius: 20px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 15px 1px #00000033;
    color: #000;
    font-family: Chathura,serif;
    font-weight: 600;
    font-size: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
#signupbtn:hover{
    box-shadow: 1px 1px 15px 1px #00000089;
}
#signup-head,#packages-head{
    text-align: center;
    font-family: Courgette;
    font-weight: 300;
    width: fit-content;
}
#pack-carousel{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.packs{
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pack{
    height: 65%;
    width: 150px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    color: #000;
    padding: 0px 10px;
    box-shadow: 1px 1px 15px 1px #00000038;
    transition: .7s;
}
.pack:hover{
    box-shadow: 1px 1px 15px 1px #00000090;
}
.pack:nth-child(1){
    transform: translateX(15px);
    filter: blur(1px);
    z-index: 1;
}
.pack:nth-child(2){
    background-color: #D48D99;
    transform: translateY(25px);
    z-index: 2;
}
.pack:nth-child(3){
    transform: translateX(-15px);
    filter: blur(1px);
    z-index: 1;
}
.pack:nth-child(1):hover,.pack:nth-child(3):hover{
    z-index: 3;
    filter: blur(0px);
}
.pack h3,.pack p{
    color: #000;
    font-family: Thasadith,serif;
    font-weight: 600;
    text-align: center;
}
/*====================*/
/*Testimonials section*/
/*====================*/
.testi{
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
    width: 60%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testi.active{
    opacity: 1;
}
@keyframes testi-anim {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
} 
.testi:nth-child(1){
    animation: testi-anim 15s infinite;
}
.testi:nth-child(2){
    animation: testi-anim 15s infinite 3s;
}
.testi:nth-child(3){
    animation: testi-anim 15s infinite 6s;
}
.testi:nth-child(4){
    animation: testi-anim 15s infinite 9s;
}
.testi:nth-child(5){
    animation: testi-anim 15s infinite 12s;
}
.testi-span{
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: inherit;
    width: 100%;
}
.testi-h1{
    font-family: Thasadith,sans-serif;
    height: fit-content;
    max-width: fit-content;
    font-size: 35px;
}
strong{
    font-size: x-large;
}
.testi-p{
    font-family: Poppins,Helvetica, sans-serif;
}
.testi-img{
    height: 100px;
    width: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #D48D99;
}
/*footer*/
.foot{
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-links,.social{
    height: 100%;
    width: 50%;
}
.foot-links{
    display: flex;
    align-items: end;
}
.foot-links ul{
    list-style: none;
    padding: 25px;
    width: 100%;
}
.foot-links ul li{
    font-family: Chathura,serif;
    font-size: x-large;
    font-weight: 600;
    color: #D48D99;
    padding: 5px;
    cursor: pointer;
}
.foot-links ul li:hover{
    text-decoration: underline;
}
.social{
    display: flex;
    justify-content:end ;
    align-items: end;
}
.social ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.social ul li:nth-child(1){
    text-align: center;
    height: 100%;
    font-family: Courgette,serif;
}
.social ul li:not(:nth-child(1)):hover{
    background-color: #80788D;
}
.social ul li img{
    padding: 10px;
    height: 30px;
    width: 30px;
}
.social ul li:not(:nth-child(4)){
    margin-right: 15px;
}
/*======================================================================================================*/
                                        /* Gallery Styles */
/*======================================================================================================*/
.gallery-heading{
    padding: 30px;
    text-align: center;
    font-family: Thasadith,serif;
    font-size: xx-large;
}
#landscape,#wildlife,#birds{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.gallery-images{
    height: 270px;
    width: 33.16%;
    object-fit: cover;
    border: 1px solid white;
    transition: .3s;
}
.zoomed-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(200%);
    z-index: 9999;
    transition: transform 0.3s ease-in-out;
}
#top{
    /*positioning*/
    position:fixed;
    bottom: 50px;
    right: 15px;
    /*size*/
    height: 40px;
    width: 40px;
    /*color & border*/
    background-color: #D48D99;
    border-radius: 100%;
    border: none;
    /*z*/
    z-index: 3;
    /*transition & opacity*/
    opacity: 30%;
    transition: .3s;
    /*font*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
#top i{
    height: 100%;
}
#top:hover{
    opacity: 100%;
}
/*======================================================================================================*/
                                        /* Sign Styles */
/*======================================================================================================*/
#sign{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);
}
#sign-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px #0F131F;
}
#sign-body h1{
    font-family: Courgette,serif;
}
#sign-body input{
    all: unset;
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: Thasadith,serif;
    font-weight: 600;
    width: 92%;
}
#sign-body button{
    all: unset;
    background-color: #D48D99;
    color: #0F131F;
    border: 1px solid transparent;
    text-align: center;
    font-family: Thasadith,serif;
    font-size:  large;
    font-weight: 600;
    padding: 8px;
    width: 92%;
    border-radius: 5px;
    transition: .3s;
}
#sign-body button:hover{
    color: #D48D99;
    background-color: #0F131F;
    border: 1px solid #D48D99;
}
.sign-label{
    width: 98%;
    font-family: Thasadith,serif;
}
#sign-links{
    width: 95%;
    display: flex;
    justify-content: end;
}
#sign-links a{
    text-decoration: none;
    font-family: Thasadith,serif;
    font-size: small;
    user-select: none;
}
#sign-links a:hover{
    text-decoration: underline;
}
/*======================================================================================================*/
                                        /* dashboard Styles */
/*======================================================================================================*/
/*admin dash*/
#content-section{
    display: flex;
    height: calc(100vh - 90px);
}
#control-section{
    display: flex;
    align-items: center;
    width: 15%;
    height: calc(100vh - 90px);
}
#control-panel{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1em;
    align-items: center;
}
#control-panel h1{
    font-family: Courgette,serif;
}
.control-button{
    height: 100px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #D48D99;
    font-family: Poppins,serif;
    text-align: center;
    border: 1px solid #D48D99;
    border-radius: 50px;
    transition: .3s;
    cursor: pointer;
}
.control-button:nth-child(1){
    margin-top: 10%;
}
.control-button:hover{
    background-color: #D48D99;
    color: white;
}
.control-button img{
    height: 30px;
    width: 30px;
}
#task-pane{
    width: 85%;
    height: calc(100vh - 90px);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    gap: 1em;
    position: absolute;
    height: inherit;
    width: inherit;
    background-color: #0F131F;
    font-family: Poppins,serif;
}
.admin-main{
    justify-content: start;
}
.main h1{
    width: fit-content;
}
.main:nth-child(1){
    z-index: 3;
}
.admin-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99.8%;
    height: inherit;
    gap: 1em;
}
/*--main1 children--*/
#selectedImage,#imgSelecter{
    width: fit-content;
}
#imgSelecter{
    z-index: 3;
    min-height: 22px;
    border: 1px solid #D48D99;
    margin-left: 3px;
    width: 90%;
    height: 100%;
}
#selectedImage{
    z-index: 1;
    object-fit: contain;
    overflow-y: hidden;
}
#selectedImage[src=""] {
    display: none;
}
.dash_btn{
    all: unset;
    min-width: 120px;
    text-align: center;
    width: fit-content;
    background-color: #D48D99;
    color: #FFF;
    border-bottom: 5px solid #cf4058;
    box-shadow: 1px 1px 5px 1px #cf4058;
    border-radius: 30px;
    padding: 10px;
    transition: ease-in-out .1s;
}
.dash_btn:hover{
    border-bottom: 5px solid #0F131F;
    box-shadow: none;
    transform: translateY(5px);
}

/*-------------*/
    /*main2*/
/*-------------*/
#main2 select{
    width: 70%;
}
#deleteImages{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    align-items: center;
    justify-content: space-evenly;
}
.userSelect,.userSelect option{
    background-color: #0F131F;
    color: #fff;
    font-family: Poppins,serif;
    font-size: medium;
    outline: none;
    padding: 5px;
}
.userSelect{
    width: 100%;
    border: 1px solid #D48D99;
}
.userSelect option{
    width: 100%; /* Make the select as wide as its container */
    overflow: hidden; /* Hide any overflowing text */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Show ellipsis (...) for long text */
    text-align: center;
}
/*------------*/
 /*user dash*/
/*------------*/
.userFormDiv{
    height: 500px;
    width: 450px;
    padding: 5px;
    border: 1px solid #80788D;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.userFormDiv button{
    all: unset;
    background-color: #D48D99;
    border: 1px solid transparent;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    transition: .3s;
}
.userFormDiv button:hover{
    background-color: transparent;
    border: 1px solid #D48D99;
    color: #D48D99;
}
.userFormDiv input,#txtTestimonial{
    border: 1px solid #D48D99;
    font-family: Thasadith,serif;
    background-color: #0F131F;
    border-radius: 5px;
}
.userFormDiv input,.userFormDiv button,#txtTestimonial{
    padding: 2px;
}
.userFormDiv input,.userFormDiv p,.userFormDiv button,#txtTestimonial{
    width: 350px;
    height: 25px;
    outline: none;
}
#txtTestimonial{
    height: 50%;
}
#txtTestimonial.too-long {
    background-color: #D48D99;
}
.jobTypeSelecter{
    width: fit-content;
    border: 1px solid #D48D99;
    border-radius: 5px;
    padding: 5px;
}
.spFlex{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 350px;
}
.spFlex p{
    width: fit-content;
}
.spJob{
    display: flex;
    align-items: center;
    width: fit-content;
}
.spDateTime{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.spDateTime input{
    width: 100%;
}
.lblJob{
    width: 70px;
    font-size: smaller;
    height: fit-content;
    margin-left: 10px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Invert the icon color */
}
input[type="radio"]{
    width: 15px;
}
.Select-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tooltip {
    position: absolute; /* This is necessary for the tooltip positioning */
    display: inline-block; /* Ensures the tooltip takes the width of its content */
    cursor: pointer; /* Change cursor on hover (optional) */
}  
.tooltip::before {
    content: "Updating Accepted Enquaries will set them as Unaccepted Enquaries!"; /* Text or content of the tooltip */
    width: 300px;
    position: absolute;
    top: -30px; /* Adjust the distance of the tooltip from the element */
    left: 50%; /* Position it in the middle of the element */
    transform: translateX(-50%); /* Center horizontally */
    background-color: #80788D; /* Background color of the tooltip */
    color: #fff; /* Text color of the tooltip */
    padding: 5px 10px; /* Padding for the tooltip content */
    border-radius: 4px; /* Rounded corners */
    opacity: 0; /* Initially hide the tooltip */
    transition: opacity 0.2s; /* Add a smooth fade-in transition */
}
.tooltip:hover::before {
    opacity: 1; /* Show the tooltip on hover */
}
  
/*============*/
  /*php file*/
/*============*/
.phpBody{
    height: 100vh;
    background-color: #0F131F;
    color: #D48D99;
    font-family: Poppins,serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
#successContent{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
/*===================================================================================*/
                                    /*ENQUIERY VIEWER*/
/*===================================================================================*/
a{
    color: #80788D;
}
th,td{
    text-align: center;
}
td{
    font-size: small;
}
th{
    padding: 0px 5px;
}
table{
    border: 1px solid #D48D99;
    border-collapse: collapse;
    width: 100%;
}
.statusImg{
    height: 23px;
    position: relative;
    top: 50%;
    transform: translate(-0%,12.5%);
}
.enqBtn{
    all: unset;
    font-size: small;
    text-decoration: underline;
    width: fit-content;
    height: 25px;
    color: #D48D99;
    padding: 0 10px;
    cursor: pointer;
}
/*===================================================================================*/
                                    /*MEDIA QUERIES*/
/*===================================================================================*/
/*gallery images*/
@media (max-width: 1146px) {
    .gallery-images{
        height: 270px;
        width: 33.16%;
        object-fit: cover;
        border: none;
        transition: .3s;
    }
}
/*4 about*/
@media (max-width: 1023px) {
    .about-para,.about-boast div p{
        font-size: medium;
        margin: 0%;
    }
    .about{
        height: fit-content;
        padding: 2%;
    }
    .about-content{
        height: 100%;
        position: relative;
        top: 0;
        flex-direction: column;
    }
    .about-container{
        height: 100%;
    }
    .about-para{
        width: 100%;
        height: fit-content;
        text-align: center;
    }
    .about-boast{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .boast-item img{
        transform: scale(.75);
    }
    .seperator{
        display: none;
    }
    #star1,#star2,#star3,.picinfo{
        display: none;
    }
    #mid-head{
        transform: translate(50%,-50%);
    }
}
/*4 card carousel in about*/
@media (max-width: 819px) {
    .sign{
        flex-direction: column;
    }
}
@media (max-width: 700px) {
    .gallery-images{
        height: 270px;
        width: 100%;
        object-fit: cover;
        border: none;
        transition: .3s;
    }
}
/*4 banner-body*/
@media (max-width: 790px) {
    #banner-body{
        flex-direction: column;
        align-items: center;
    }
    .banner{
        height: 100vh;
    }
    #right-banner img{
        padding-bottom: 25px;
    }
    #left-banner h1,#left-banner h2{
        margin: 0%;
        font-size: 3em;
    }
    #left-banner h2{
        font-size: 1em;
    }
    #car-buttons{
        display: none;
    }
    #carousel{
        transform: translate(-10%,20%);
    }
}
/*4 footer, nav, banner*/
@media (max-width: 600px) {
    .foot{
        flex-direction: column;
    }
    .foot-links,.social,.foot{
        width: 100%;
    }
    nav{
        align-items: center;
        height: fit-content;
        justify-content: flex-start;
    }
    nav,#nav{
        width: 100%;
        margin: 0%;        
        flex-direction: column;
    }
    nav ul{
        height: 25em;
        display: none;
    }
    nav ul li{
        width: 80%;
    }
    nav ul li:hover{
        background-color: transparent;
        border: 1px solid transparent;
        color: transparent;
        .fa-caret-down{
            color: transparent;
        }
        .subnav{
            position:relative;
            top: 35%;
            left: 45%;
            transform: translate(-50%,-50%);
            height: inherit;
            width: fit-content;
            padding: 0%;
            margin: 0%;
        }
        .subnav ul{
            flex-direction: row;
            margin: 0%;
            height: fit-content;
            width: 100%;
            padding: 0%;
        }
        .subnav ul li{
            margin: 0%;
            padding: 0%;
            width: 100px;
            height: fit-content;
            transform: scale(.8);
        }
        .subnav ul li:hover{
            color: white;
            border: 1px solid white;
        }
    }
    #mid-head{
        transform: translate(50%,-50%)scale(.7);
    }
    .arrow{
        display: none;
    }
}
/*4 sign section*/
@media (max-width: 510px) {
    .sign{
        height: fit-content;
    }
    .signup{
        height: 50vh;
    }
    #hirepacks{
        height: 100vh;
    }
    .packages{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        height: 100%;
    }
    #pack-carousel{
        position:relative;
        height: fit-content;
        bottom: 0;
    }
    .packs{
        flex-direction: column;
        gap: 1em;
        height: fit-content;
    }
    .pack:not(:nth-child(2)){
        transform: none;
        filter: none;
    }
    .pack:nth-child(2){
        transform: none;
    }
}
/*4 testi*/
@media (max-width: 425px) {
    .testimonials{
        height: 100vh;
    }
    .testi-span{
        flex-direction: column;
    }
    .testi-h1{
        min-width: 100%;
    }
}
@media (max-width: 360px) {
    #sign-form{
        transform: scale(.75);
    }
}